@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<ul>
    @foreach (string meeting in ViewBag.events)
    {
        <li>@meeting</li>
    }
</ul>