@model CodingEvents.Models.Tag

@if (Model.Events.ToList().Count == 0)
{
    <h1>No elements with the given tag</h1>
}
else
{
    <h1>Events Tagged: @Model.Name</h1>

    <ul>
        @foreach (var evtTag in Model.Events)
        {
            <li>@evtTag.Name</li>
        }
    </ul>

}