@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CodingEvents.Models.EventCategory>

<h1>All Event Categories</h1>

<table>
    <tr>
        <th>Category Name</th>
    </tr>
    @foreach (EventCategory category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>